/*
 * EasySlideInJs 2020
 */

/*
 * overflow-x of body should be hidden.
 */
body {
	overflow-x: hidden !important;
}

@keyframes slideInLeft {
	0% {
		transform: translateX(-240px);
		opacity: 0;
	}
	30% {
		transform: translateX(-240px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInRight {
	0% {
		transform: translateX(240px);
		opacity: 0;
	}
	30% {
		transform: translateX(240px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.slide-from-left {
	animation: slideInLeft 1.5s ease;
}

.slide-from-right {
	animation: slideInRight 1.5s ease;
}

.slide {
	opacity: 0 !important;
}
